@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

.fotos {
    margin-top: 100px;
    margin-left: -140px;
}
img{
    margin-right: 50px;
    width: 200px;
}


.meio div {
    color: #fff;
    margin-left: 1323px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 420px;
}
.meio1  p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
 }

 .meio p1 {
     font-family: sans-serif;
     margin-bottom: 10px;
     margin-top: 8px;
 }

 .meio  p2 {
     margin-top: 8px;
     font-family: sans-serif;
     margin-top: 10px;
     margin-bottom: 15px;
 } 

 .meio  p3 {
     margin-top: 8px;
     font-family: sans-serif;
     font-size: 25px; 
 } 

 .meio1 .botao {
     /* margin-left: 100px;
     margin-right: 100px; */
     margin-top: 50px;
    font-family: "Baloo 2", serif;
     font-size: 30px;
     font-weight: bold;
     border: 10px solid #ffffff;
     border-left: 50px solid #fff;
     border-right: 50px solid #fff;
     border-radius: 9px;
     background: #fff;
 }
 .preco{
    display: flex;
    color: white;
    margin-left: -400px;
    flex-direction: column;
    margin-top: 100px;
 }
 