.lista {
    width: 1505px;
    height: 716px;
    color: white;
    background-color: #300518;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 40px;
   
}

.meio2 p1 {
    border-bottom: #fff solid 1px;
}
