.meio{
    background-color:#1D0016;
    margin-left: -10px;
}

#perfu{
    width: 730px;
    height: 720px;
    display: flex;
    justify-content: center;
    margin-left: 580px;
    margin-top: 88px;
    position: absolute;
}

#agua{
    width: 668px;
    height: 754px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 50px;

}

#pedra{
    width: 778px;
    height: 769px;
    display: flex;
    justify-content: center;
    margin-left: 550px;
    position: absolute;
    margin-top: -1250px;
}
